株式会社○○</br>
○○様</br>
</br>
お世話になります。</br>
株式会社オーシャンソフトウェアの○○です。</br>
</br>
○○（技術者名）様の御見積詳細を送付致します。</br>
内容ご確認いただき、相違がなければ、御見積書の発行をお願いいたします。</br>
</br>
■案件名：〇〇〇〇〇〇</br>
■月額単金：￥〇〇〇〇-</br>
■時間幅：140-180</br>
■超過単価：￥3,620-</br>
■控除単価：￥3,620-</br>
■勤務時間：〇〇時00分～〇〇時00分（〇〇時間）</br>
■勤怠時間精算単位：1日〇〇分単位、1ヶ月〇〇分単位</br>
■契約期間：2018年4月1日～2018年〇〇月○○日</br>
■支払サイト：毎月末日締、翌月末日支払（30日サイト）</br>
</br>
以上となります。</br>
宜しくお願い致します。</br>
</br>
オーシャンソフトウェア○○</br>
