#Overlay {
    left:0;
    top:0;
    width:100%;
    height:100%;
    position:fixed;
    background:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  z-index:101;
  display:none;
}
div.Mask,
#Mask{
    position:absolute;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  display:none;
  z-index:111;
  background:#FFF;
}
#BaseWindow {
    border:2px #999 solid;
    -moz-border-radius:0.6em;
    -khtml-border-radius:0.6em;
    -webkit-border-radius:0.6em;
    border-radius:0.6em;
    position:fixed;
    display:none;
    z-index:101;
    background: #333;
    min-width: 400px;
/*    max-width: 960px;*/
/*    min-height: 400px;*/
}
#BaseWindowContent {
    background: #FFF;
    overflow: auto;
    padding: 20px;
}
#myAlert{
    display:none;
    position:fixed;
    margin: 0;
    top:0;
    width: 100%;
    font-size:24px;
    font-weight:bold;
    z-index: 200;
    line-height:180%;
    text-indent:2em;
    background-color:#CCC;
    color:#FFF;
/*    border:1px solid #999;*/
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#CCC));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #C00, #900);
}
p.close img{
    padding: 2px;
    float:right;
}
p.close img:hover {
    cursor:pointer;
}
p.clear{
    clear:both;
}
.center{
    text-align:center;
}
.number{
    text-align:right;
    width:90px;
}

body {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 12px;
}

#content{
    padding: 0px 20px 40px 20px;
}

table.form {
    clear: both;
    /*width: 100%;*/
    /*margin-bottom: 32px;*/
}
table.form th {
    border:0;
    border-bottom:1px solid #EEEEEE;
    background:#DDDDDD;
/*    color:#ffffff;
    font-weight: normal;*/
    text-align: center;
    padding: 5px;
}
table.form th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
table.form tr td {
    padding: 5px;
    vertical-align: middle;
}

table th {
    text-align:center;
}

blockquote {
      padding: 5px 20px;
      margin: 0 0 10px;
      font-size: 16px;
      border-left: 5px solid #007bee;
}

.navbar-brand .img-rounded {
    width:400px; height:45px; margin-top:-10px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #E7E7E7;
}

table th {
    background:#DDDDDD;
    text-align:center;
    font-weight: bold;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #EEEEEE;
}

.well {
    background-color: #DDDDDD;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #EEEEEE;
}

.ui-autocomplete {
    z-index:1001 !important;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

/*カレンダー*/
table.calendar{
    white-space:normal;
    border-collapse:collapse;
    background-color: #9999CC;
    margin-bottom: 20px;
}
.calendar th.title{
    color: #000000;
    background-color: #efefef;
    text-align: center;
    border-width: 0px;
}
.calendar th{
    border-width: 1px;
    border-style: solid;
    border-color: #9999CC;
    background-color: #EEEEEE;
    color: #000000;
    text-align: right;
    white-space: nowrap;
}
.calendar th a{
    color: #000000;
}
.calendar td{
    font-size: 11px;
    line-height: 150%;
    white-space:normal;
    border-width: 1px;
    border-style: solid;
    border-color: #9999CC;
    text-align: center;
    width: 180px;
    height: 80px;
    background-color: #FFFFFF;
}
.calendar tr.calendar_list0 td{
    height: auto;
    font-size:12px;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-color: #9999CC;
    border-bottom-style: solid;
}
.calendar tr.calendar_list1 td{
    height: auto;
    font-size:12px;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-color: #CC9999;
    border-bottom-style: solid;
}
.calendar tr.calendar_list0 th{
    border-bottom-width: 2px;
    border-bottom-color: #9999CC;
    border-bottom-style: solid;
}
.calendar tr.calendar_list1 th{
    border-bottom-width: 2px;
    border-bottom-color: #CC9999;
    border-bottom-style: solid;
}
.calendar td.sun{
    background-color: #FFDDDD;
}
.calendar td.sat{
    background-color: #DDDDFF;
}
.calendar td.today{
    background-color: #FFC;
}

.calendar tr.calendar_list0:hover td{
    background-color: #EEEEEE;
}
.calendar tr.calendar_list0:hover td.sun{
    background-color: #EECCCC;
}
.calendar tr.calendar_list0:hover td.sat{
    background-color: #CCCCEE;
}
.calendar tr.calendar_list0:hover th{
    background-color: #DDDDDD;
}

.calendar tr.calendar_list1:hover td{
    background-color: #EEEEEE;
}
.calendar tr.calendar_list1:hover td.sun{
    background-color: #EECCCC;
}
.calendar tr.calendar_list1:hover td.sat{
    background-color: #CCCCEE;
}
.calendar tr.calendar_list1:hover th{
    background-color: #DDDDDD;
}
.calendar ul{
    padding: 0px;
    margin: 0px;
}
.calendar li{
    list-style-type: none;
}
table.calendar ul li {
    list-style-type: none;
}
.cal_navi{
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */


 /*printer styles*/
 @media print{
/*hide the left column when printing*/
#leftcol{display:none;}
#twocols, #maincol{width:100%; float:none;}
}

#block ul {
    font-size: small;
    margin-top: 1em;
}
#block li {
    font-size: small;
    margin-top: 0.5em;
    list-style-position: inside;
    list-style-type: disc;
}
#block table.calendar ul li {
    list-style-type: none;
}

div.list_block{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    float:left;
    margin:10px;
}

p.guide{
    color:green;
}

p.description {
    color:red   ;
    font-weight: bold;
}

span.pos {
    width:50px;
    text-align:center;
    padding-top:7px;
}

select.input-sm {
    height: 25px;
}
.input-sm {
    height: 25px;
    padding: 3px 3px;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 3px;
}

.unit {
	margin: 5px;
}

.panel-heading {
    padding: 2px 10px;
}
