<?php for($i = 0; $i < count($result); $i++){  ?>
<div>
<p>
<b>
<?php echo $result[$i]["category_name"] ?>
</p>
</b>
<table class="table-bordered table-condensed table-striped table-hover">
    <tr>
        <th style="min-width:120px;">ドキュメント番号</th>
        <th style="min-width:250px;">ドキュメント名</th>
        <th style="min-width:250px;">附則・細則</th>
    </tr>
        <?php for($j = 0; $j < count($result[$i]["Rule"]); $j++){ ?>
    <tr>
        <td  style='vertical-align: top'>
          <?php echo $result[$i]["Rule"][$j]["doc_no"]?>
        </td>
        <td  style='vertical-align: top'>
          <a href="<?php echo $this->Html->url('/', true); ?>pdfjs-2.8.335-dist/web/viewer.html?file=/s/rules/showpdf/<?php echo $result[$i]["Rule"][$j]["id"]; ?>/ 0" target="_blank">
            <?php echo $result[$i]["Rule"][$j]["doc_name"]?>
          </a> 
        </td>
         <td >
          <?php for($k = 0; $k < count($result[$i]["Rule"][$j]['Detail']); $k++){ ?>
          <P>
          <a href="<?php echo $this->Html->url('/', true); ?>pdfjs-2.8.335-dist/web/viewer.html?file=/s/rules/showpdf/<?php echo $result[$i]["Rule"][$j]['Detail'][$k]["RuleDetail"]["id"]; ?>/ 1" target="_blank">
            <?php echo $result[$i]["Rule"][$j]['Detail'][$k]["RuleDetail"]["doc_name"]?>
          </a>
          </P>
          <?php } ?>
        </td>      
    </tr>
    <?php } ?>
</table>
<br>
<p/>
<?php }  ?>